<div class="container-fluid px-0 mx-0">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-9 col-lg-6 mx-0 px-0">
      <span class="fs-2"><img class="icon me-2 mb-2"
          src="{{ receiverImage != null ? receiverImage : '../assets/default-avatar.png' }}"
          alt="*">{{receiverName}}</span>
      <div class="message-scroll">
        <div *ngIf="messages">
          <div *ngFor="let message of messages">
            <span class="text-center card border-0 pt-4 pb-2" *ngIf="messageDates(message.creationDate!)">{{
              message.creationDate | date: 'dd/MM/yyyy' }}</span>
            <app-message-card [message]="message" [sender]="sender" [receiverImage]="receiverImage"></app-message-card>
          </div>
        </div>
      </div>
      <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
        <div class="col-12 form d-flex gap-2 justify-content-center mt-2 mb-1">
          <div class="col-9">
            <textarea class="form-control" name="message" placeholder="Write your own message here" required
              formControlName="message"></textarea>
            <div class="alert alert-danger"
              *ngIf="messageForm.get('message')?.touched && messageForm.get('message')?.errors?.['minlength']">Mínimo 20
              caracteres</div>
          </div>
          <div class="d-flex align-items-start">
            <input type="submit" class="btn btn-primary" [disabled]="messageForm.invalid">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
