<div class="modal-header p-0 m-0">
  <div>
    <h6 class="modal-title text-center ms-3">TUBE <i class="bi bi-film"></i> TRACKER</h6>
  </div>
  <button type="button" class="close btn invisible" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form class="row justify-content-center mt-4" (ngSubmit)="registerUser()" [formGroup]="registerForm">

  <div class="form-group new-event col-10 d-grid gap-2">
    <div class="row">
      <h5>{{"LOGIN.REGISTER_NOW" |translate}}</h5>
      <i>{{"LOGIN.CREATE_YOUR_ACCOUNT_AND_ENJOY!" |translate}}</i>
    </div>
    <div>
      <label for="firstname">{{"FORM.FIRSTNAME" | translate}}</label>
      <input type="text" class="form-control" firstname="firstname"
        placeholder="{{'FORM.FIRSTNAME' | translate}}*" required formControlName="firstname">
      <div class="error"
        *ngIf="registerForm.get('firstname')?.touched && registerForm.get('firstname')?.errors?.['required']">
        {{ "FORM.FIELD_REQUIRED" | translate }}</div>
      <div class="error"
        *ngIf="registerForm.get('firstname')?.touched && registerForm.get('firstname')?.errors?.['pattern']?.requiredPattern === expresiones.firstname.toString()">
        {{ "FORM.UPPER_LOWER_ONLY" | translate }}</div>
    </div>
    <div>
      <label for="lastname">{{"FORM.LASTNAME" | translate}}</label>
      <input type="text" class="form-control" name="lastname"
        placeholder="{{'FORM.LASTNAME' | translate}}*" required formControlName="lastname">
      <div class="error"
        *ngIf="registerForm.get('lastname')?.touched && registerForm.get('lastname')?.errors?.['required']">{{ "FORM.FIELD_REQUIRED" | translate }}</div>
      <div class="error"
        *ngIf="registerForm.get('lastname')?.touched && registerForm.get('lastname')?.errors?.['pattern']?.requiredPattern === expresiones.lastname.toString()">
        {{ "FORM.UPPER_LOWER_ONLY" | translate }}</div>
    </div>
    <div>
      <label for="nickname">{{"FORM.NICKNAME" | translate}}</label>
      <input type="text" class="form-control" name="nickname"
        placeholder="{{'FORM.NICKNAME' | translate}}*" required formControlName="nickname">
      <div class="error"
        *ngIf="registerForm.get('nickname')?.touched && registerForm.get('nickname')?.errors?.['required']">
        {{ "FORM.FIELD_REQUIRED" | translate }}</div>
      <div class="error"
        *ngIf="registerForm.get('nickname')?.touched && registerForm.get('nickname')?.errors?.['pattern']?.requiredPattern === expresiones.nickname.toString()">
        {{ "FORM.UPPER_LOWER_SPECIAL" | translate }}</div>
    </div>
    <div>
      <label for="password">{{"FORM.PASSWORD" | translate}}</label>
      <input type="password" class="form-control" name="password"
        placeholder="{{'FORM.PASSWORD' | translate}}*" required formControlName="password">
      <div class="error"
        *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['required']">{{ "FORM.FIELD_REQUIRED" | translate }}</div>
      <div class="error"
        *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['pattern']?.requiredPattern === expresiones.password.toString()">
        {{ "FORM.PASSWORD_FORMAT" | translate }}</div>
    </div>
    <div>
      <label for="email">{{"FORM.EMAIL" | translate}}</label>
      <input type="text" class="form-control" name="email"
        placeholder="{{'FORM.EMAIL' | translate}}*" required formControlName="email">
      <div class="error"
        *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']">{{ "FORM.FIELD_REQUIRED" | translate }}</div>
      <div class="error"
        *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['pattern']?.requiredPattern === expresiones.email.toString()">
        {{ "FORM.EMAIL_FORMAT" | translate }}</div>
    </div>
    <div>
      <label for="language">{{"FORM.LANGUAGE" | translate}}</label><br>
        <select class="col-12 form-select" title="{{'FORM.LANGUAGE' | translate}}" name="language" formControlName="language" (change)="changeLanguage()">
          <option *ngFor="let language of languages" value="{{ language.abbrev }}">
            {{ language.name }}
          </option>
        </select>
    </div>
    <div>
      <div class="d-flex gap-2">
        <div>
          <label for="image">{{"FORM.AVATAR" | translate}}</label>
          <input class="form-control" #imageInput type="file" title="AVATAR" name="image" accept="image/*"
            (change)="changeImage(imageInput)" formControlName="image">
        </div>
        <div class="pt-2">
          <img src="{{ imagen }}" alt="">
        </div>
      </div>
      <div class="alert alert-danger"
        *ngIf="registerForm.get('image')?.touched && registerForm.get('image')?.errors?.['pattern']?.requiredPattern === expresiones.image.toString()">
        {{ "FORM.IMG_FORMAT" | translate }}</div>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <ng-container *ngIf="isLoading; else elseTemplateAA">
        <button class="btn btn-primary" type="button" disabled>
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          {{ 'OTHERS.LOADING' | translate }}
        </button>
      </ng-container>
      <ng-template #elseTemplateAA>
        <input class="btn btn-primary" type="submit" value="{{'LOGIN.CREATE_ACCOUNT' | translate}}" [disabled]="registerForm.invalid">
      </ng-template>
      <i>{{"FORM.REQUIRED"|translate}}</i>
    </div>
    <div *ngIf="serverError">
      <div class="error">
        {{ "ERROR." + serverError | translate }}</div>
    </div>
    <div>
      <p>{{"LOGIN.ALREADY_HAVE_AN_ACCOUNT?" | translate}} <a class="link-primary" (click)="openLoginForm()">{{"LOGIN.LOGIN_HERE" | translate}}</a>
      </p>
    </div>
  </div>
</form>
