<div class="modal-header p-0 m-0">
  <div>
    <h6 class="modal-title text-center ms-3">TUBE <i class="bi bi-film"></i> TRACKER</h6>
  </div>
  <button type="button" class="close btn" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form class="row justify-content-center mt-4" (ngSubmit)="registerUser()" [formGroup]="registerForm">

  <div class="form-group new-event col-10 d-grid gap-2">
    <div class="row">
      <h5>{{"LOGIN.REGISTER_NOW" |translate}}</h5>
      <i>{{"LOGIN.CREATE_YOUR_ACCOUNT_AND_ENJOY!" |translate}}</i>
    </div>
    <div>
      <label for="firstname">{{"FORM.FIRSTNAME" | translate}}</label>
      <input type="text" class="form-control" firstname="firstname"
        placeholder="{{'FORM.FIRSTNAME' | translate}}*" required formControlName="firstname">
      <div class="alert alert-danger"
        *ngIf="registerForm.get('firstname')?.touched && registerForm.get('firstname')?.errors?.['required']">
        Este campo es obligatorio</div>
      <div class="alert alert-danger"
        *ngIf="registerForm.get('firstname')?.touched && registerForm.get('firstname')?.errors?.['pattern']?.requiredPattern === expresiones.firstname.toString()">
        Este campo solo admite mayusculas y minusculas</div>
    </div>
    <div>
      <label for="lastname">{{"FORM.LASTNAME" | translate}}</label>
      <input type="text" class="form-control" name="lastname"
        placeholder="{{'FORM.LASTNAME' | translate}}*" required formControlName="lastname">
      <div class="alert alert-danger"
        *ngIf="registerForm.get('lastname')?.touched && registerForm.get('lastname')?.errors?.['required']">Este campo
        es
        obligatorio</div>
      <div class="alert alert-danger"
        *ngIf="registerForm.get('lastname')?.touched && registerForm.get('lastname')?.errors?.['pattern']?.requiredPattern === expresiones.lastname.toString()">
        Este campo solo admite mayusculas y minusculas</div>
    </div>
    <div>
      <label for="nickname">{{"FORM.NICKNAME" | translate}}</label>
      <input type="text" class="form-control" name="nickname"
        placeholder="{{'FORM.NICKNAME' | translate}}*" required formControlName="nickname">
      <div class="alert alert-danger"
        *ngIf="registerForm.get('nickname')?.touched && registerForm.get('nickname')?.errors?.['required']">
        Este campo es obligatorio</div>
      <div class="alert alert-danger"
        *ngIf="registerForm.get('nickname')?.touched && registerForm.get('nickname')?.errors?.['pattern']?.requiredPattern === expresiones.nickname.toString()">
        Formato NIF/NIE incorrecto</div>
    </div>
    <div>
      <label for="password">{{"FORM.PASSWORD" | translate}}</label>
      <input type="password" class="form-control" name="password"
        placeholder="{{'FORM.PASSWORD' | translate}}*" required formControlName="password">
      <div class="alert alert-danger"
        *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['required']">Este campo
        es
        obligatorio</div>
      <div class="alert alert-danger"
        *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['pattern']?.requiredPattern === expresiones.password.toString()">
        Este campo solo admite mayusculas, minusculas, digitos y carácteres especiales (-/ºª´)</div>
    </div>
    <div>
      <label for="email">{{"FORM.EMAIL" | translate}}</label>
      <input type="text" class="form-control" name="email"
        placeholder="{{'FORM.EMAIL' | translate}}*" required formControlName="email">
      <div class="alert alert-danger"
        *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']">Este campo es
        obligatorio</div>
      <div class="alert alert-danger"
        *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['pattern']?.requiredPattern === expresiones.email.toString()">
        Este campo solo admite mayusculas, minusculas, digitos y carácteres especiales (-/ºª´)</div>
    </div>
    <div>
      <label for="language">{{"FORM.LANGUAGE" | translate}}</label><br>
        <select class="col-12 form-select" name="language" formControlName="language">
          <option *ngFor="let language of languages" value="{{ language.abbrev }}">
            {{ language.name }}
          </option>
        </select>
    </div>
    <div>
      <label for="avatar">{{"FORM.AVATAR" | translate}}</label>
      <input class="form-control" #imageInput type="file" name="avatar" accept="image/*"
        (change)="changeImage(imageInput)" formControlName="avatar">
      <div class="alert alert-danger"
        *ngIf="registerForm.get('avatar')?.touched && registerForm.get('avatar')?.errors?.['pattern']?.requiredPattern === expresiones.avatar.toString()">
        Este campo solo admite extensiones gif, jpeg. jpg y png</div>
    </div>
    <div>

    </div>
    <div>

    </div>
    <div class="d-flex align-items-center justify-content-between">
      <input class="btn btn-primary" type="submit" value="{{'LOGIN.CREATE_ACCOUNT' | translate}}" [disabled]="registerForm.invalid">
      <i>{{"FORM.REQUIRED"|translate}}</i>
    </div>
    <div>
      <p>{{"LOGIN.ALREADY_HAVE_AN_ACCOUNT?" | translate}} <a class="link-primary" (click)="openLoginForm()">{{"LOGIN.LOGIN_HERE" | translate}}</a>
      </p>
    </div>
  </div>
</form>
