<div class="card bg-posts shadow bg-friend mt-2">
  <div class="card-body p-1">
    <div class="d-flex justify-content-between me-4">
      <div class="d-flex align-items-center gap-3">
        <a class="d-flex gap-3 align-items-center" [routerLink]="['/statistics', friend.userId]">
          <ng-container *ngIf="friend.friendImage; else elseTemplate">
            <img class="img-fluid" src="{{ friend.friendImage }}" alt="avatar">
          </ng-container>
          <ng-template #elseTemplate>
            <img class="img-fluid" src="../../../assets/default-avatar.png" alt="avatar">
          </ng-template>
          <span class="fs-3 align-self-center">{{ friend.friendNickname }}</span>
        </a>
        <span class="mt-2" *ngIf="friend.friendshipStatus == 3">{{"SOCIAL.INVITED_YOU_TO_BECOME_FRIENDS" |
          translate}}</span>
      </div>
      <div class="d-flex align-items-center">
        <span *ngIf="friend.friendshipStatus == 0">{{"SOCIAL.INVITATION_SEND" | translate}}</span>
        <span *ngIf="friend.friendshipStatus == 4">{{"SOCIAL.INVITATION_DECLINED" | translate}}</span>
        <a class="align-self-center" *ngIf="friend.friendshipStatus == 2" (click)="inviteFriend()" title="{{'SOCIAL.INVITE'
        | translate}}"><i class="bi bi-person-plus-fill fs-2"></i></a>
        <div class="d-flex gap-4">
          <a class="text-success" *ngIf="friend.friendshipStatus == 3"
            (click)="acceptInvitation(true)" title="{{'SOCIAL.ACCEPT_INVITATION' | translate}}"><i class="bi bi-person-fill-check fs-2 icon"></i></a>
            <a class="text-danger" *ngIf="friend.friendshipStatus == 3"
            (click)="acceptInvitation(false)" title="{{'SOCIAL.DECLINE' | translate}}"><i class="bi bi-person-fill-x fs-2 icon"></i></a>
        </div>
        <div class="d-flex gap-4" *ngIf="friend.friendshipStatus == 1"> <a class="align-self-center"
            [routerLink]="['/social/messages', friend.userId]" title="{{ 'SOCIAL.SEND_MESSAGE' | translate }}">
            <i class="bi bi-chat-text-fill fs-2"></i></a>
            <a class="align-self-center" title="{{ 'SOCIAL.DELETE_FRIEND' | translate }}" (click)="acceptInvitation(false)">
            <i class="bi bi-person-x-fill fs-2"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
