<div class="container">
  <div class="row mt-5 d-flex justify-content-center">
    <div class="col-8 d-flex gap-3">
      <div *ngIf="user" class="col-2">
        <ng-container *ngIf="user.image == null; else elseTemplate">
          <img class="img-fluid shadow" src="../../../assets/default-avatar.png" alt="Avatar">
        </ng-container>
        <ng-template #elseTemplate>
          <img class="img-fluid shadow" src="{{user.image}}" alt="Avatar">
        </ng-template>
      </div>
      <div class="col-10">
        <h1 *ngIf="user" class="col"><b>{{user.nickname}}</b></h1>
        <div class="col">
          <div>
            <a href="">Profile configuration</a>
          </div>
          <div>
            <a href="" *ngIf="user && user.rolId == 0 && user.userId == localUser.userId"
              [routerLink]="['/news/newArticle']">Create News Articles</a>
          </div>
          <div>
            <a href="" *ngIf="user && user.userId == localUser.userId" class="link link-primary"
              (click)="logout()">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Statistics-->
  <div class="row text-center d-flex justify-content-center">
    <div class="col-8">
      <div class="row d-flex justify-content-around mt-5">
        <div class="col-6">
          <div class="card mb-4">
            <div class="card-header">
              <h5 class="card-title">Total time watching series</h5>
            </div>
            <div class="card-body">
              <div class="row d-flex justify-content-center">
                <div class="col-3">
                  <h1 *ngIf="statistics">{{ hoursSeries[0] }}</h1>
                  <h6>months</h6>
                </div>
                <div class="col-3">
                  <h1 *ngIf="statistics">{{ hoursSeries[1] }}</h1>
                  <h6>days</h6>
                </div>
                <div class="col-3">
                  <h1 *ngIf="statistics">{{ hoursSeries[2] }}</h1>
                  <h6>hours</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-header">
              <h5 class="card-title">Episodes watched</h5>
            </div>
            <div class="card-body">
              <h1 *ngIf="statistics">{{ statistics.watchedEpisodes }}</h1>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-header">
              <h5 class="card-title">Posts</h5>
            </div>
            <div class="card-body">
              <h1 *ngIf="statistics">{{ statistics.posts }}</h1>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-header">
              <h5 class="card-title">Likes</h5>
            </div>
            <div class="card-body">
              <h1 *ngIf="statistics">{{ statistics.likesPosts }}</h1>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card mb-4">
            <div class="card-header">
              <h5 class="card-title">Total time watching movies</h5>
            </div>
            <div class="card-body">
              <div class="row d-flex justify-content-center">
                <div class="col-3">
                  <h1 *ngIf="statistics">{{ hoursMovies[0] }}</h1>
                  <h6>months</h6>
                </div>
                <div class="col-3">
                  <h1 *ngIf="statistics">{{ hoursMovies[1] }}</h1>
                  <h6>days</h6>
                </div>
                <div class="col-3">
                  <h1 *ngIf="statistics">{{ hoursMovies[2] }}</h1>
                  <h6>hours</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-header">
              <h5 class="card-title">Movies watched</h5>
            </div>
            <div class="card-body">
              <h1 *ngIf="statistics">{{ statistics.watchedMovies }}</h1>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-header">
              <h5 class="card-title">Comments</h5>
            </div>
            <div class="card-body">
              <h1 *ngIf="statistics">{{ statistics.postComments }}</h1>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-header">
              <h5 class="card-title">Friends</h5>
            </div>
            <div class="card-body">
              <h1 *ngIf="statistics">{{ statistics.friends }}</h1>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <h1>{{"STATISTICS.LAST_WATCHED_MOVIES" | translate}}</h1>

  <div class="row mt-4" *ngIf="movies">
    <app-movie-card class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2 " *ngFor="let movie of movies"
      [movie_serie]="movie" [type]="'movies'"></app-movie-card>
  </div>

  <h1>{{"STATISTICS.LAST_WATCHED_SERIES" | translate}}</h1>

  <div class="row mt-4" *ngIf="series">
    <app-movie-card class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2 " *ngFor="let serie of series"
      [movie_serie]="serie" [type]="'series'"></app-movie-card>
  </div>
</div>
