<div class="container m-0 p-0 mt-2">
  <div class="row d-flex justify-content-center">
    <div class="accordion accordion-flush col-12 col-md-9 col-lg-8" id="accordionFlushExample">
      <div class="accordion-item bg-posts">
        <div class="text-end me-3 mb-2">
          <span class="accordion-header d-flex justify-content-center gap-5" id="flush-headingOne" *ngIf="!show">
            <button class="align-self-center bg-transparent border-0 d-flex gap-3" type="button"
              data-bs-toggle="collapse" data-bs-target="#tinymce" aria-expanded="false" aria-controls="#tinymce">
              <i class="bi bi-pencil-square shadow align-self-center fs-2 text-secondary"></i>
              <span class="card border-2 rounded-pill p-2 px-3 shadow align-self-center">{{ "SOCIAL.SHARE_SOMETHING" | translate }}</span>
            </button>
          </span>
          <div class="row text-start" *ngIf="show">
            <div class="d-flex gap-3 justify-content-center">
              <ng-container *ngIf="userImage == null || userImage.length == 0; else elseTemplate">
                <img class="img-fluid shadow align-self-center mb-2" src="../../../assets/default-avatar.png" alt="Avatar">
              </ng-container>
              <ng-template #elseTemplate>
                <img class="img-fluid shadow align-self-center mb-2" src="{{userImage}}" alt="Avatar">
              </ng-template>
              <h3><b>{{ "SOCIAL.POSTS_FROM" | translate }} <a [routerLink]="['/statistics', userId]">{{userNickname}}</a></b></h3>
            </div>
          </div>
        </div>
        <div id="tinymce" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body m-0 p-0">
            <editor class="shadow" [init]="editorConfig" [(ngModel)]="value"></editor>
            <input type="button" class="btn btn-primary float-end mt-2 mb-2" value="{{ 'FORM.SEND' | translate }}" (click)="createPost()" data-bs-toggle="collapse"
              data-bs-target="#tinymce">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-9 col-lg-8">
      <ng-container *ngIf="isLoading; else elseTemplate">
        <ngx-skeleton-loader count="1" appearance="line" animation='progress-dark' [theme]="{'background-color': '#464646', height:'200px', 'border-radius':'20px'}"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" appearance="line" animation='progress-dark' [theme]="{'background-color': '#464646', height:'100px', 'border-radius':'20px'}"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" appearance="line" animation='progress-dark' [theme]="{'background-color': '#464646', height:'250px', 'border-radius':'20px'}"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" appearance="line" animation='progress-dark' [theme]="{'background-color': '#464646', height:'400px', 'border-radius':'20px'}"></ngx-skeleton-loader>
      </ng-container>
      <ng-template #elseTemplate>
        <app-post *ngFor="let post of posts" [post]="post" (reloadPosts)="reloadPosts($event)"></app-post>
      </ng-template>
    </div>
  </div>
</div>
