<div class="container m-0 p-0 mt-2">
  <div class="row d-flex justify-content-center">
    <div class="col-8 d-flex justify-content-center">
      <form [formGroup]="searchFriendForm" (ngSubmit)="searchForFriends()">
        <div class="d-flex gap-2">
          <button type="button" class="btn btn-primary" *ngIf="friendsSearchList" (click)="emptyFriendSearchList()">&#8592;</button>
          <input class="form-control" type="text" placeholder="{{ 'SOCIAL.FIND_NEW_FRIENDS' | translate }}" formControlName="search">
          <button class="btn btn-primary" type="submit">{{ "FORM.SEARCH" | translate }}</button>
        </div>
        <div class="alert alert-danger"
          *ngIf="searchFriendForm.get('review')?.touched && searchFriendForm.get('review')?.errors?.['required']">Campo
          obligatorio</div>
      </form>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-9 col-lg-8 mx-0 px-0">
      <ng-container *ngIf="isLoading; else elseTemplate">
        <div class="d-flex justify-content-center mt-5 pt-3">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </ng-container>
      <ng-template #elseTemplate>
        <div *ngIf="friendsSearchList && friendsSearchList.length > 0">
          <h6 class="mt-3">{{"SOCIAL.YOUR_SEARCH" | translate}}</h6>
          <div *ngFor="let friendSearch of friendsSearchList">
            <app-friend-card *ngIf="friendSearch.userId != user.userId" [friend]="friendSearch"></app-friend-card>
          </div>
        </div>
        <div *ngIf="friends && !friendsSearchList">
          <h6 class="mt-3">{{"SOCIAL.FRIENDS" | translate}}</h6>
          <div *ngFor="let friend of friends">
            <app-friend-card *ngIf="friend.userId != user.userId" [friend]="friend"></app-friend-card>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
