<div class="container mt-3">
  <div class="row d-flex align-items-end">
    <ng-container *ngIf="isLoading; else elseTemplateDD">
      <ngx-skeleton-loader count="1" appearance="line" animation='progress-dark'
        [theme]="{'background-color': '#464646', height:'75px'}"></ngx-skeleton-loader>
    </ng-container>
    <ng-template #elseTemplateDD>
      <div class="col-12 col-lg-4">
        <h2 *ngIf="movie"><b>{{title}}</b></h2>
        <div class="d-flex gap-5 mb-2">
          <h6 *ngIf="movie">{{movie.premiereDate | date: 'yyyy'}}</h6>
          <h6 *ngIf="movie">{{movie.duration | duration}}</h6>
        </div>
      </div>
      <div class="col-12 col-lg-8 d-flex justify-content-between flex-wrap">
        <div class="col-12 col-lg-auto d-flex d-lg-block gap-3 align-items-center order-3 order-lg-0 mt-3">
          <h6>{{ "DETAIL.REVIEWS" | translate }}</h6>
          <h6 *ngIf="reviews"><b>{{reviews.numReviews}}</b></h6>
        </div>
        <div class="col-3 col-lg-auto d-flex justify-content-center align-items-center order-lg-0">
          <i *ngIf="movie" class="bi icon" [ngClass]="movie.watched ? 'bi-eye-fill' : 'bi-eye' "
            title="{{ 'MOVIE_SERIE_CARD.WATCHED' | translate }}" (click)="markWatched()"></i>
        </div>
        <div class="col-3 col-lg-auto d-flex justify-content-center align-items-center order-lg-1">
          <i *ngIf="movie" class="bi icon" [ngClass]="movie.favorite ? 'bi-camera-reels-fill' : 'bi-camera-reels' "
            title="{{ 'MOVIE_SERIE_CARD.FAVORITE' | translate }}" (click)="markFavorite()"></i>
        </div>
        <div class="col-3 col-lg-auto d-flex justify-content-center align-items-center order-lg-2">
          <i *ngIf="movie" class="bi bi-share icon" title="{{ 'SOCIAL.SHARE' | translate }}" (click)="share()"></i>
        </div>
        <div class="col-12 col-lg-4 d-flex justify-content-sm-start flex-wrap justify-content-lg-around d-lg-block order-4">
          <div class="row col-12">
            <div class="d-flex justify-content-sm-start justify-content-lg-center gap-3 text-lg-end">
              <h6>{{ "DETAIL.TT_RATING" | translate }}</h6>
              <h6><b>{{ttRating > 0 ? ttRating : 0}}</b></h6>
            </div>
          </div>
          <div class="row col-12">
            <div class="d-flex justify-content-sm-start justify-content-lg-center gap-3 text-lg-end">
              <h6>{{ "DETAIL.YOUR_RATING" | translate }}</h6>
              <div (mouseleave)="restoreMovieRating()">
                <i *ngFor="let star of [1,2,3,4,5]" class="bi"
                  [ngClass]="{'bi-star-fill': star <= auxRating, 'bi-star': star > auxRating}"
                  (mouseenter)="auxRating = star" (click)="setMovieRating()">
                </i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4 mt-3 d-flex justify-content-center">
      <ng-container *ngIf="isLoading; else elseTemplateGG">
        <ngx-skeleton-loader count="1" appearance="line" animation='progress-dark'
          [theme]="{'background-color': '#464646', height:'550px'}"></ngx-skeleton-loader>
      </ng-container>
      <ng-template #elseTemplateGG>
        <img *ngIf="movie" class="img-fluid shadow" src="{{'https://image.tmdb.org/t/p/w400' + movie.poster}}" alt="">
      </ng-template>
    </div>
    <div class="col-12 col-lg-8 mt-3" *ngIf="isLoading;">
      <ng-container *ngIf="isLoading;">
        <ngx-skeleton-loader count="1" appearance="line" animation='progress-dark'
          [theme]="{'background-color': '#464646', height:'550px'}"></ngx-skeleton-loader>
      </ng-container>
    </div>
    <div class="col-12 col-lg-8 mt-3 min-iframe" *ngIf="movie">
      <iframe class="shadow" width="100%" height="100%" [src]="sanitizeURL()" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen="true" loading="lazy"></iframe>
    </div>
  </div>

  <ng-container *ngIf="isLoading;">
    <ngx-skeleton-loader count="10" appearance="line" animation='progress-dark'
      [theme]="{'background-color': '#464646', height:'20px'}"></ngx-skeleton-loader>
  </ng-container>
  <div class="row mt-3">
    <div *ngIf="movie" class="col d-flex gap-3 align-items-center">
      <div class="badge rounded-pill bg-primary p-2" *ngFor="let genre of genres">{{genre}}</div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <h3><b>{{ "DETAIL.DESCRIPTION" | translate }}</b></h3>
      <p *ngIf="movie">{{description}}</p>
    </div>
    <div class="col-12">
      <div class="d-flex align-items-center gap-3">
        <ng-container *ngIf="movie && movie.directors.includes(', '); else elseTemplate">
          <h6><b>{{ "DETAIL.DIRECTORS" | translate }}</b></h6>
        </ng-container>
        <ng-template #elseTemplate>
          <h6><b>{{ "DETAIL.DIRECTOR" | translate }}</b></h6>
        </ng-template>
        <h6 *ngIf="movie">{{movie.directors}}</h6>
      </div>
    </div>
    <div class="col-12">
      <div class="d-flex gap-3">
        <h6><b>{{ "DETAIL.ACTORS" | translate }}</b></h6>
        <h6 *ngIf="movie">{{movie.actors}}</h6>
      </div>
    </div>
  </div>


  <div class="row mt-4">
    <div class="col-12">
      <h3><b>{{ "DETAIL.USER_REVIEWS" | translate }}</b></h3>
      <div class="row">
        <form [formGroup]="reviewForm" (ngSubmit)="createMovieReview()">
          <div class="col-12 form d-flex gap-2 justify-content-start mb-4">
            <div class="col-10 col-lg-7">
              <textarea class="form-control" name="review" placeholder="{{ 'DETAIL.WRITE_YOUR_REVIEW' | translate }}"
                required formControlName="review"></textarea>
              <div class="alert alert-danger"
                *ngIf="reviewForm.get('review')?.touched && reviewForm.get('review')?.errors?.['minlength']">{{
                "FORM.MIN_CARACTERS" | translate }}</div>
            </div>
            <div class="d-flex align-items-end">
              <input type="submit" class="btn btn-primary" [disabled]="reviewForm.invalid"
                value="{{ 'FORM.SEND' | translate }}">
            </div>
          </div>
        </form>
      </div>
      <div class="container-fluid m-0 p-0">
        <div *ngIf="reviews" class="row">
          <!--User reviews component-->
          <ng-container *ngFor="let review of reviews.reviews">
            <app-movie-review class="col-12 col-md-12 col-lg-12 col-xl-6 mt-2 mb-3" [review]="review" [contentId]="movie.movieApiId"
              [contentType]="'movie'" [title]="title" (reloadReviews)="reloadReviews($event)"></app-movie-review>
          </ng-container>
        </div>
        <div class="mb-5" *ngIf="reviews && reviews.numReviews== 0">{{ "DETAIL.NO_REVIEWS_YET" | translate }}</div>
      </div>
    </div>
  </div>
</div>
