<div class="container mt-3">
  <div class="row d-flex align-items-end">
    <div class="col-4">
      <h2 *ngIf="movie"><b>{{title}}</b></h2>
      <div class="d-flex gap-5">
        <h6 *ngIf="movie">{{movie.premiereDate | date: 'yyyy'}}</h6>
        <h6 *ngIf="movie">{{movie.duration | duration}}</h6>
      </div>
    </div>
    <div class="col-8 d-flex justify-content-between">
      <div class="col">
        <h6>REVIEWS</h6>
        <h6 *ngIf="reviews"><b>{{reviews.numReviews}}</b></h6>
      </div>
      <div class="col d-flex justify-content-center align-items-center">
        <i *ngIf="movie" class="bi icon" [ngClass]="movie.watched ? 'bi-eye-fill' : 'bi-eye' " title="{{ 'MOVIE_SERIE_CARD.WATCHED' | translate }}" (click)="markWatched()"></i>
      </div>
      <div class="col d-flex justify-content-center align-items-center">
        <i *ngIf="movie" class="bi icon" [ngClass]="movie.favorite ? 'bi-camera-reels-fill' : 'bi-camera-reels' " title="{{ 'MOVIE_SERIE_CARD.FAVORITE' | translate }}" (click)="markFavorite()"></i>
      </div>
      <div class="row">
        <div class="row">
          <h6 class="col text-end">TT RATING</h6>
          <h6 class="col"><b>{{ttRating > 0 ? ttRating : 0}}</b></h6>
        </div>
        <div class="row">
          <div class="col text-end">
            <h6>YOUR RATING</h6>
          </div>
          <div class="star-container col">
            <i *ngFor="let star of [1,2,3,4,5]" class="bi"
              [ngClass]="{'bi-star-fill': star <= auxRating, 'bi-star': star > auxRating}"
              (mouseenter)="auxRating = star" (click)="setMovieRating()">
            </i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-4">
      <img *ngIf="movie" class="img-fluid shadow" src="{{'https://image.tmdb.org/t/p/w400' + movie.poster}}" alt="">
    </div>
    <div *ngIf="movie" class="col-8">
      <iframe class="shadow" width="100%" height="100%" [src]="sanitizeURL()" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
  <div class="row mt-3">
    <div *ngIf="movie" class="col d-flex gap-3 align-items-center">
      <div class="badge rounded-pill bg-primary p-2" *ngFor="let genre of genres">{{genre}}</div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <h3><b>DESCRIPTION</b></h3>
      <p *ngIf="movie">{{description}}</p>
    </div>
    <div class="col-12">
      <div class="d-flex align-items-center gap-3">
        <h6><b>DIRECTOR/S</b></h6>
        <h6 *ngIf="movie">{{movie.directors}}</h6>
      </div>
    </div>
    <div class="col-12">
      <div class="d-flex gap-3">
        <h6><b>ACTOR/S</b></h6>
        <h6 *ngIf="movie">{{movie.actors}}</h6>
      </div>
    </div>
  </div>


  <div class="row mt-4">
    <div class="col-12">
      <h3><b>USER REVIEWS</b></h3>
      <div class="row">
        <form [formGroup]="reviewForm" (ngSubmit)="createMovieReview()">
          <div class="col-12 form d-flex gap-2 justify-content-start mb-4">
            <div class="col-7">
              <textarea class="form-control" name="review" placeholder="Write your own review here" required
                formControlName="review"></textarea>
              <div class="alert alert-danger"
                *ngIf="reviewForm.get('review')?.touched && reviewForm.get('review')?.errors?.['minlength']">Mínimo 20
                caracteres</div>
            </div>
            <div class="d-flex align-items-start">
              <input type="submit" class="btn btn-primary" [disabled]="reviewForm.invalid">
            </div>
          </div>
        </form>
      </div>
      <div class="container-fluid m-0 p-0">
        <div *ngIf="reviews" class="row">
          <!--User reviews component-->
          <ng-container *ngFor="let review of reviews.reviews">
            <app-movie-review class="col-6 mt-2 mb-3" [review]="review"></app-movie-review>
          </ng-container>
        </div>
        <div *ngIf="reviews && reviews.numReviews== 0">NO REVIEWS AVAILABLE YET, YOU CAN BE THE FIRST ONE TO WRITE A REVIEW!!!</div>
      </div>
    </div>
  </div>
</div>
