<div class="card shadow mt-3">
  <div class="card-body">
    <div class="row">
      <img class="img-fluid" src="" alt="News Image">
      <h4 class="card-title">Title News</h4>
    </div>
    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias ducimus vero voluptatum
      distinctio aliquam, adipisci consectetur minus tempora ea enim dolore iusto deleniti esse. Rerum, ducimus
      aspernatur provident nam, obcaecati ratione id commodi sequi aperiam perferendis molestias. Sint sunt, repellat
      atque maxime assumenda harum fuga nisi nostrum odio illo praesentium.</p>

  </div>
  <div class="card-footer text-muted d-flex justify-content-between">
    <span>Sven Swers</span>
    <span>24/03/2023</span>
  </div>
</div>
