<div class="card bg-posts shadow mt-2">
  <div class="card-body">
    <span class="card-text" *ngIf="newsArticle && content || content"
      [innerHTML]="sanitizer.bypassSecurityTrustHtml(content)"></span>
  </div>
  <div class="card-footer m-0 p-1">
    <div class="col-12 d-flex align-items-center justify-content-between px-2">
      <div class="d-flex align-items-center gap-2">
        <ng-container *ngIf="newsArticle && newsArticle.userImage; else elseTemplate">
          <img class="img-fluid" src="{{ newsArticle.userImage }}" alt="avatar">
        </ng-container>
        <ng-template #elseTemplate>
          <img class="img-fluid" src="../../../assets/default-avatar.png" alt="avatar">
        </ng-template>
        <span *ngIf="newsArticle && newsArticle.creatorNickname">
          <a class="d-flex gap-3 align-items-center" [routerLink]="['/statistics', newsArticle.userId]">
            {{ newsArticle.creatorNickname }}
          </a></span>
      </div>
      <div class="d-flex gap-3">
        <span>{{"NEWS.PUBLISHED" | translate}}</span>
        <div *ngIf="newsArticle && newsArticle.creationDate">{{ utils.convertDateLocale(newsArticle.creationDate) |
          date: 'dd-MM-yyyy' }}</div>
        <div *ngIf="newsArticle && newsArticle.creationDate">{{ utils.convertDateLocale(newsArticle.creationDate) |
          date: 'HH:mm' }}</div>
      </div>
    </div>
  </div>
</div>
