@import '../../../../node_modules/bootstrap-icons/font/bootstrap-icons'; // Iconos

.bg-darker{
background-color: rgba(0, 0, 0, 0.171);
}

.icon{
  font-size: x-large;
}

.icon:hover{
  cursor: pointer;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
  color: white;
  font-size: xx-large;
}

.icon-episode{
  font-size: large;
}

.icon-episode:hover{
  cursor: pointer;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
  color: white;
}

.episode-hover:hover{
  box-shadow: 0px 0px 5px white;
  background-color: rgb(44, 44, 44);
}
