<div class="container-fluid my-2">
  <div class="row d-flex flex-nowrap">
    <div class="col-9 mx-0 px-0 border-0 me-3">
      <div class="row d-flex justify-content-end">
        <div class="col-4 fs-10 text-end">{{comment.dateString!}}
        </div>
        <div class="col-8 bubble right">
          <div>{{ comment.content }}</div>
        </div>
      </div>
    </div>
    <div class="col-3 px-1 d-flex justify-content-start gap-2 align-self-end">
      <div>
        <img class="icon" src="{{ comment.userImage != null ? comment.userImage : '../assets/default-avatar.png' }}"
          alt="">
      </div>
      <div>
        <a class="d-flex gap-3 align-items-center" [routerLink]="['/statistics', comment.userId]">
          {{comment.userNickname}}
        </a>
      </div>
    </div>
  </div>
</div>
