<div class="card bg-posts shadow mt-2">
  <div class="card-header m-0 p-1">
    <div class="col-12 d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center gap-2">
        <ng-container *ngIf="post && post.userImage; else elseTemplate">
          <img class="img-fluid" src="{{ post.userImage }}" alt="avatar">
        </ng-container>
        <ng-template #elseTemplate>
          <img class="img-fluid" src="../../../assets/default-avatar.png" alt="avatar">
        </ng-template>
        <span *ngIf="post && post.userNickname">{{ post.userNickname }}</span>
      </div>
      <div class="d-flex gap-3">
        <div *ngIf="post && post.creationDate">{{ post.dateString }}
        </div>
      </div>
    </div>
  </div>
  <div class="card-body pb-0">
    <span class="card-text" *ngIf="post && post.content"
      [innerHTML]="sanitizer.bypassSecurityTrustHtml(post.content)"></span>
  </div>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item bg-posts">
      <div class="text-end me-3 mb-2">
        <span class="accordion-header" id="flush-headingOne">
          <button class="collapsed bg-primary btn btn-sm btn-primary" type="button" data-bs-toggle="collapse"
            [attr.data-bs-target]="'#' + Id" aria-expanded="false" [attr.aria-controls]="'#' + Id">
            {{ comments && comments.length > 0 ? comments.length : ""}} COMMENTS
          </button>
        </span>
      </div>
      <div id="{{Id}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body ms-5 pt-1 pb-2">
          <div class="mb-2" *ngFor="let comment of comments">
            <app-comment-card [comment]="comment"></app-comment-card>
          </div>
          <form [formGroup]="commentForm" (ngSubmit)="sendComment()">
            <div class="col-12 form d-flex gap-2 justify-content-center mt-3 mb-1">
              <div class="col-9">
                <textarea class="form-control" name="comment" placeholder="Write your own comment here" required
                  formControlName="comment"></textarea>
                <div class="alert alert-danger"
                  *ngIf="commentForm.get('comment')?.touched && commentForm.get('comment')?.errors?.['minlength']">
                  Mínimo 20
                  caracteres</div>
              </div>
              <div class="d-flex align-items-start">
                <input type="submit" class="btn btn-primary" [disabled]="commentForm.invalid">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
