<div class="card bg-posts shadow mt-2">
  <div class="card-header m-0 p-1">
    <div class="col-12 d-flex align-items-center justify-content-between px-2">
      <div class="d-flex align-items-center gap-2">
        <a class="d-flex gap-3 align-items-center" [routerLink]="['/statistics', post.userId]">
          <ng-container *ngIf="post && post.userImage; else elseTemplate">
            <img class="img-fluid" src="{{ post.userImage }}" alt="avatar">
          </ng-container>
          <ng-template #elseTemplate>
            <img class="img-fluid" src="../../../assets/default-avatar.png" alt="avatar">
          </ng-template>
          <span *ngIf="post && post.userNickname">{{ post.userNickname }}</span>
        </a>
      </div>
      <div class="d-flex gap-3">
        <div *ngIf="user && user.rolId == 0">
          <a title="{{ 'ADMIN.DELETE' | translate }}" data-bs-toggle="modal" [attr.data-bs-target]="'#' + post.postId">
            <i class="bi bi-trash3 icon"></i>
          </a>
        </div>
        <div *ngIf="post && post.creationDate">{{ post.dateString }}
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade" [attr.id]="post.postId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title text-center">TUBE <i class="bi bi-film"></i> TRACKER</h6>
      </div>
      <div class="modal-body">
        {{ "ADMIN.SURE_DELETE" | translate }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ "ADMIN.CANCEL" | translate }}</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deletePost()">{{ "ADMIN.DELETE" | translate }}</button>
      </div>
    </div>
  </div>
</div>

  <div class="card-body pb-0">
    <span class="card-text" *ngIf="post && post.content"
      [innerHTML]="sanitizer.bypassSecurityTrustHtml(post.content)"></span>
  </div>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item bg-posts">
      <div class="text-end me-3 mb-2">
        <span class="accordion-header" id="flush-headingOne">
          <div class="d-flex justify-content-end gap-3 mt-3">
            <button class="collapsed bg-primary btn btn-sm btn-primary rounded-5" type="button" (click)="share()">
              <div class="d-flex justify-content-around align-content-center">
                <div><i class="bi bi-share"></i>&nbsp;&nbsp;&nbsp;</div>
                <div>{{ "SOCIAL.SHARE" | translate }}</div>
              </div>
            </button>
            <button class="collapsed bg-primary btn btn-sm btn-primary rounded-5" type="button" (click)="changeLike()">
              <div class="d-flex justify-content-around align-content-center">
                <div>{{ post && post.likesCount! > 0 ? post.likesCount : ""}}&nbsp;&nbsp;</div>
                <div *ngIf="post"><i class="bi"
                    [ngClass]="liked ? 'bi-heart-fill' : 'bi-heart' "></i>&nbsp;&nbsp;&nbsp;</div>
                <div class="pe-1">{{ "SOCIAL.LIKE" | translate }}</div>
              </div>
            </button>
            <button class="collapsed bg-primary btn btn-sm btn-primary rounded-5" type="button"
              data-bs-toggle="collapse" [attr.data-bs-target]="'#' + Id" aria-expanded="false"
              [attr.aria-controls]="'#' + Id">
              <div class="d-flex justify-content-around align-content-center">
                <div>{{ comments && comments.length > 0 ? comments.length : ""}}&nbsp;&nbsp;</div>
                <div *ngIf="post"><i class="bi"
                    [ngClass]="checkIfUserHasComments() ? 'bi-chat-left-text-fill' : 'bi-chat-left-text' "></i>&nbsp;&nbsp;&nbsp;
                </div>
                <div class="pe-1">{{ "SOCIAL.COMMENT" | translate }}</div>
              </div>
            </button>
          </div>

        </span>
      </div>
      <div id="{{Id}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body ms-5 pt-1 pb-2">
          <div class="mb-2" *ngFor="let comment of comments">
            <app-comment-card [comment]="comment"></app-comment-card>
          </div>
          <form [formGroup]="commentForm" (ngSubmit)="sendComment()">
            <div class="col-12 form d-flex gap-2 justify-content-center mt-3 mb-1">
              <div class="col-9">
                <textarea class="form-control" name="comment" placeholder="Write your own comment here" required
                  formControlName="comment"></textarea>
                <div class="alert alert-danger"
                  *ngIf="commentForm.get('comment')?.touched && commentForm.get('comment')?.errors?.['minlength']">
                  Mínimo 20
                  caracteres</div>
              </div>
              <div class="d-flex align-items-start">
                <ng-container *ngIf="isLoadingComment; else loadingComment">
                  <button class="btn btn-primary" type="button" disabled>
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    {{ 'OTHERS.LOADING' | translate }}
                  </button>
                </ng-container>
                <ng-template #loadingComment>
                  <input type="submit" class="btn btn-primary" [disabled]="commentForm.invalid">
                </ng-template>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
