<div class="text-center">
    <div class="shadow-hover" style="background-image: url('../../../assets/gh4cZbhZxyTbgxQPxD0dOudNPTn.jpg');
                background-size: cover; background-repeat: no-repeat; height: 370px; width: 250px;">
        <div class="row pt-3">
          <div class="col pe-2">
            <i class="icon bi bi-eye text-white"></i>
            <!--<i class="bi bi-eye-fill"></i>-->
          </div>
          <div class="col ps-2">
            <i class="icon bi bi-camera-reels text-white"></i>
            <!--<i class="bi bi-camera-reels-fill"></i>-->
          </div>
        </div>
    </div>
  <div class="mt-2">
    <h6>Spiderman</h6>
  </div>
</div>
