<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand col-md-3 order-0" href="#">
      TUBE
      <i class="bi bi-film"></i>
      TRACKER
    </a>
    <button class="navbar-toggler order-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav gap-lg-4">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">{{"NAV.HOME" | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/explore']" [routerLinkActive]="['active']">{{"NAV.EXPLORE" |
            translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/popular']" [routerLinkActive]="['active']">{{"NAV.POPULAR" |
            translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/favorites']" [routerLinkActive]="['active']">{{"NAV.FAVORITES" |
            translate}}</a>
        </li>
        <li class="nav-item d-flex">
          <a class="nav-link d-flex gap-2" [routerLink]="['/social']" [routerLinkActive]="['active']">{{"NAV.SOCIAL.SOCIAL" |
            translate}}
          <span class="text-white align-self-center bg-primary rounded-circle" style="height: 22px;" *ngIf="unreadMessages > 0">&nbsp;&nbsp;{{ unreadMessages }}&nbsp;&nbsp;</span></a>
        </li>
        <li class="d-flex align-items-center">
          <app-user-login></app-user-login>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
