<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">{{"NAV.HOME" | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{"NAV.EXPLORE" | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{"NAV.POPULAR" | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{"NAV.MY FAVORITES" | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{"NAV.CINECONNECT" | translate}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet>Hello</router-outlet>
</div>
