<div class="d-flex align-items-center">
  <ng-container *ngIf="!logged; else elseTemplate">
    <a class="link-primary" (click)="openLoginForm()">{{ "LOGIN.LOGIN" | translate }}</a>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="d-flex gap-2">
      <div>
        <ng-container *ngIf="user.image; else elseTemplate">
          <img class="img-fluid" src="{{ user.image }}" alt="avatar">
        </ng-container>
        <ng-template #elseTemplate>
          <img class="img-fluid" src="../../../assets/default-avatar.png" alt="avatar">
        </ng-template>

      </div>
      <div>
        <a [routerLink]="['/statistics', user.userId]">{{user.nickname}}</a>
      </div>
    </div>
  </ng-template>
</div>
