<div class="card bg-reviews shadow">
  <div class="card-header m-0 p-1">
    <div class="col-12 d-flex align-items-center justify-content-between px-2">
      <div class="d-flex align-items-center gap-2">
        <ng-container *ngIf="review.userImage; else elseTemplate">
          <img class="img-fluid" src="{{ review.userImage }}" alt="avatar">
        </ng-container>
        <ng-template #elseTemplate>
          <img class="img-fluid" src="../../../assets/default-avatar.png" alt="avatar">
        </ng-template>
        <span>
          <a class="d-flex gap-3 align-items-center" [routerLink]="['/statistics', review.userId]">{{ review.userNickname }}</a></span>
      </div>
      <div class="d-flex gap-3 align-items-center">
        <span>{{"NEWS.PUBLISHED" | translate}}</span>
        <div>{{ utils.convertDateLocale(review.creationDate) | date: 'dd/MM/yyyy' }}</div>
        <div *ngIf="user && user.rolId == 0">
          <a title="{{ 'ADMIN.DELETE' | translate }}" data-bs-toggle="modal" [attr.data-bs-target]="'#' + review.movieReviewId">
            <i class="bi bi-trash3 icon"></i>
          </a>
        </div>
        <button class="collapsed bg-primary btn btn-sm btn-primary rounded-5" type="button" (click)="share()">
          <div class="d-flex justify-content-around align-content-center">
            <div><i class="bi bi-share"></i>&nbsp;&nbsp;&nbsp;</div>
            <div>{{ "SOCIAL.SHARE" | translate }}</div>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">{{ review.content }}</p>
  </div>
</div>

  <!-- Modal -->
  <div class="modal fade" [attr.id]="review.movieReviewId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" data-bs-config={backdrop:true}>
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title text-center">TUBE <i class="bi bi-film"></i> TRACKER</h6>
        </div>
        <div class="modal-body">
          {{ "ADMIN.SURE_DELETE" | translate }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ "ADMIN.CANCEL" | translate }}</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteReview()">{{ "ADMIN.DELETE" | translate }}</button>
        </div>
      </div>
    </div>
  </div>
