<div class="container text-center mt-5">
  <h1>{{ "NAC.WELCOME" | translate }}</h1>
  <h3>{{ "NAC.NAC" | translate }}</h3>
  <p class="mt-3">{{ "NAC.INSTRUCTIONS" | translate }}</p>
</div>
<div class="container pt-3">
  <div class="row d-flex justify-content-center">
    <div class="col-10">
      <editor class="shadow" [init]="editorConfig" [(ngModel)]="value"></editor>
      <input *ngIf="language == 'en-EN'" type="button" class="btn btn-primary" value="{{ 'NAC.NEXT_LANG' | translate }}" (click)="createNewsArticle()">
      <input *ngIf="language == 'es-ES'" type="button" class="btn btn-primary" value="{{ 'NAC.SEND' | translate }}" (click)="createNewsArticle()">
    </div>
  </div>
</div>
