<div class="container mt-3">
  <div class="row d-flex align-items-end">
    <div class="col-4">
      <h1><b>Friends</b></h1>
      <div class="d-flex gap-5">
        <h6>1989</h6>
        <h6>134 Episodes</h6>
      </div>
    </div>
    <div class="col-8 d-flex justify-content-between">
      <div class="col-3">
        <h6>User Reviews</h6>
        <h6><b>2.3K</b></h6>
      </div>
      <div class="col-3 d-flex justify-content-around">
      </div>
      <div class="col-3 d-flex justify-content-end">
        <div>
          <h6>Rating on Tube Tracker</h6>
          <div class="d-flex justify-content-end">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-4">
      <img class="img-fluid" src="../../../assets/Friendsposter.jpeg" alt="">
    </div>
    <!--Episodes Component-->
    <div class="col-8">
      <div class="row">
        <div class="col-6 ms-0 ps-0">
          <select class="form-select" name="seasons" id="">
            <option value="1">Season 1</option>
            <option value="2">Season 2</option>
          </select>
        </div>
      </div>
      <div class="row mt-2 overflow-auto" style="max-height: 550px">
        <div class="card bg-darker mb-1">
          <div class="card-body p-2">
            <div class="d-flex justify-content-between">
              <span>1</span>
              <span>Episode Title</span>
              <span>Launch Date 02-05-1989</span>
              <i class="bi bi-eye text-white"></i>
            </div>
          </div>
        </div>
        <div class="card bg-darker mb-1">
          <div class="card-body p-2">
            <div class="d-flex justify-content-between">
              <span>2</span>
              <span>Episode Title</span>
              <span>Launch Date 02-05-1989</span>
              <i class="bi bi-eye text-white"></i>
            </div>
          </div>
        </div>
        <div class="card bg-darker mb-1">
          <div class="card-body p-2">
            <div class="d-flex justify-content-between">
              <span>3</span>
              <span>Episode Title</span>
              <span>Launch Date 02-05-1989</span>
              <i class="bi bi-eye text-white"></i>
            </div>
          </div>
        </div>
        <div class="card bg-darker mb-1">
          <div class="card-body p-2">
            <div class="d-flex justify-content-between">
              <span>4</span>
              <span>Episode Title</span>
              <span>Launch Date 02-05-1989</span>
              <i class="bi bi-eye text-white"></i>
            </div>
          </div>
        </div>
        <div class="card bg-darker mb-1">
          <div class="card-body p-2">
            <div class="d-flex justify-content-between">
              <span>5</span>
              <span>Episode Title</span>
              <span>Launch Date 02-05-1989</span>
              <i class="bi bi-eye text-white"></i>
            </div>
          </div>
        </div>
        <div class="card bg-darker mb-1">
          <div class="card-body p-2">
            <div class="d-flex justify-content-between">
              <span>6</span>
              <span>Episode Title</span>
              <span>Launch Date 02-05-1989</span>
              <i class="bi bi-eye text-white"></i>
            </div>
          </div>
        </div>
        <div class="card bg-darker mb-1">
          <div class="card-body p-2">
            <div class="d-flex justify-content-between">
              <span>7</span>
              <span>Episode Title</span>
              <span>Launch Date 02-05-1989</span>
              <i class="bi bi-eye text-white"></i>
            </div>
          </div>
        </div>
        <div class="card bg-darker mb-1">
          <div class="card-body p-2">
            <div class="d-flex justify-content-between">
              <span>8</span>
              <span>Episode Title</span>
              <span>Launch Date 02-05-1989</span>
              <i class="bi bi-eye text-white"></i>
            </div>
          </div>
        </div>
        <div class="card bg-darker mb-1">
          <div class="card-body p-2">
            <div class="d-flex justify-content-between">
              <span>9</span>
              <span>Episode Title</span>
              <span>Launch Date 02-05-1989</span>
              <i class="bi bi-eye text-white"></i>
            </div>
          </div>
        </div>
        <div class="card bg-darker mb-1">
          <div class="card-body p-2">
            <div class="d-flex justify-content-between">
              <span>10</span>
              <span>Episode Title</span>
              <span>Launch Date 02-05-1989</span>
              <i class="bi bi-eye text-white"></i>
            </div>
          </div>
        </div>
        <div class="card bg-darker mb-1">
          <div class="card-body p-2">
            <div class="d-flex justify-content-between">
              <span>11</span>
              <span>Episode Title</span>
              <span>Launch Date 02-05-1989</span>
              <i class="bi bi-eye text-white"></i>
            </div>
          </div>
        </div>
        <div class="card bg-darker mb-1">
          <div class="card-body p-2">
            <div class="d-flex justify-content-between">
              <span>12</span>
              <span>Episode Title</span>
              <span>Launch Date 02-05-1989</span>
              <i class="bi bi-eye text-white"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col d-flex gap-3">
      <div class="badge rounded-pill bg-primary">Comedy</div>
      <div class="badge rounded-pill bg-primary">Drama</div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-7">
      <div class="col-12">
        <h3><b>Description</b></h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel praesentium molestias exercitationem, inventore
          quae magni necessitatibus. Eius, natus dolores! Consequuntur repudiandae odit, eos enim natus nemo asperiores
          nesciunt dolores fugit suscipit? Architecto quod, repudiandae voluptatem exercitationem quo perspiciatis harum
          autem quidem, id voluptas nam recusandae animi aperiam facilis ex? Corrupti.</p>
      </div>
      <div class="col-12 mt-5">
        <div class="d-flex align-items-center gap-3">
          <h6><b>Creator/s</b></h6>
          <h6>Stanley Lee</h6>
        </div>
      </div>
      <div class="col-12 mt-2">
        <div class="d-flex align-items-center gap-3">
          <h6><b>Actor/s</b></h6>
          <h6>Stanley Lee, Glee Leeman, Rachel Depount</h6>
        </div>
      </div>
    </div>
    <div class="col-5">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/IEEbUzffzrk" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>


  <div class="row mt-4">
    <div class="col-12">
      <h3><b>User Reviews</b></h3>
      <div class="d-flex flex-wrap">
        <div class="row">
          <div class="col-12 form-floating">
            <textarea class="col-12 form-control" placeholder="Leave a review here" id="floatingTextarea" style="height: 100px; width: 100%;"></textarea>
            <button class="btn btn-primary">Send</button>
          </div>
        </div>
        <div class="row">
          <!--User review component-->
          <div class="col-6 mt-2 mb-3">
            <div class="card bg-darker">
              <div class="card-header">
                <div class="col-12 d-flex align-items-center justify-content-between">
                  <div class="d-flex align-content-center">
                    <img src="" alt="avatar">
                    <h6>User Name</h6>
                  </div>
                  <i class="bi bi-hand-thumbs-up"></i>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ipsum tenetur officia
                  fugiat neque quibusdam velit labore aliquam earum! At obcaecati quod nihil autem laborum blanditiis et
                  quas incidunt, suscipit doloremque officiis explicabo omnis consectetur commodi minus? Consequuntur
                  eveniet quam error! Ratione blanditiis saepe similique quo harum molestias deleniti asperiores.</p>
              </div>
            </div>
          </div>

          <div class="col-6 mt-2 mb-3">
            <div class="card bg-darker">
              <div class="card-header">
                <div class="col-12 d-flex align-items-center justify-content-between">
                  <div class="d-flex align-content-center">
                    <img src="" alt="avatar">
                    <h6>User Name</h6>
                  </div>
                  <i class="bi bi-hand-thumbs-up"></i>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ipsum tenetur officia
                  fugiat neque quibusdam velit labore aliquam earum! At obcaecati quod nihil autem laborum blanditiis et
                  quas incidunt, suscipit doloremque officiis explicabo omnis consectetur commodi minus? Consequuntur
                  eveniet quam error! Ratione blanditiis saepe similique quo harum molestias deleniti asperiores.</p>
              </div>
            </div>
          </div>

          <div class="col-6 mt-2 mb-3">
            <div class="card bg-darker">
              <div class="card-header">
                <div class="col-12 d-flex align-items-center justify-content-between">
                  <div class="d-flex align-content-center">
                    <img src="" alt="avatar">
                    <h6>User Name</h6>
                  </div>
                  <i class="bi bi-hand-thumbs-up"></i>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ipsum tenetur officia
                  fugiat neque quibusdam velit labore aliquam earum! At obcaecati quod nihil autem laborum blanditiis et
                  quas incidunt, suscipit doloremque officiis explicabo omnis consectetur commodi minus? Consequuntur
                  eveniet quam error! Ratione blanditiis saepe similique quo harum molestias deleniti asperiores.</p>
              </div>
            </div>
          </div>

          <div class="col-6 mt-2 mb-3">
            <div class="card bg-darker">
              <div class="card-header">
                <div class="col-12 d-flex align-items-center justify-content-between">
                  <div class="d-flex align-content-center">
                    <img src="" alt="avatar">
                    <h6>User Name</h6>
                  </div>
                  <i class="bi bi-hand-thumbs-up"></i>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ipsum tenetur officia
                  fugiat neque quibusdam velit labore aliquam earum! At obcaecati quod nihil autem laborum blanditiis et
                  quas incidunt, suscipit doloremque officiis explicabo omnis consectetur commodi minus? Consequuntur
                  eveniet quam error! Ratione blanditiis saepe similique quo harum molestias deleniti asperiores.</p>
              </div>
            </div>
          </div>

          <div class="col-6 mt-2 mb-3">
            <div class="card bg-darker">
              <div class="card-header">
                <div class="col-12 d-flex align-items-center justify-content-between">
                  <div class="d-flex align-content-center">
                    <img src="" alt="avatar">
                    <h6>User Name</h6>
                  </div>
                  <i class="bi bi-hand-thumbs-up"></i>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ipsum tenetur officia
                  fugiat neque quibusdam velit labore aliquam earum! At obcaecati quod nihil autem laborum blanditiis et
                  quas incidunt, suscipit doloremque officiis explicabo omnis consectetur commodi minus? Consequuntur
                  eveniet quam error! Ratione blanditiis saepe similique quo harum molestias deleniti asperiores.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
