<div class="container-fluid">
  <div class="row d-flex align-items-center justify-content-center my-2">
    <div class="col-12 col-md-4 col-lg-12 d-flex justify-content-center align-items-center mt-2 mt-md-0">
      <div class="form-check form-check-inline d-flex gap-2 ps-1">
        <i class="bi bi-search align-self-center"></i>
        <input class="form-control" type="text" title="{{ 'FORM.FILTER_BY' | translate }}" placeholder="{{ 'FORM.FILTER_BY' | translate }}"
          [(ngModel)]="searchFilter">
      </div>
      <div class="form-check form-check-inline d-flex gap-2 ps-1">
        <i class="bi bi-filter"></i>
        <label class="form-check-label" for="selectWatched">{{ "FORM.WATCHED" | translate }}</label>
        <select [(ngModel)]="selectedWatched" name="selectWatched" title="{{ 'FORM.WATCHED' | translate }}" (ngModelChange)="filterItems()">
          <option value="all">{{ "FORM.ALL" | translate }}</option>
          <option value="true">{{ "FORM.WATCHED" | translate }}</option>
          <option value="false">{{ "FORM.NOT_WATCHED" | translate }}</option>
        </select>
      </div>
      <div class="form-check form-check-inline d-flex gap-2 ps-1">
        <i class="bi bi-list-stars"></i>
        <label class="form-check-label" for="selectType">{{ "FORM.CONTENT_TYPE" | translate }}</label>
        <select [(ngModel)]="selectedType" name="selectType" title="{{ 'FORM.CONTENT_TYPE' | translate }}" (ngModelChange)="filterItems()">
          <option value="all">{{ "FORM.ALL" | translate }}</option>
          <option value="movies">{{ "FORM.MOVIES" | translate }}</option>
          <option value="series">{{ "FORM.SERIES" | translate }}</option>
        </select>
      </div>
      <div class="form-check form-check-inline d-flex gap-2 ps-1">
        <i class="bi bi-sort-down"></i>
        <label class="form-check-label" for="selectOrder">{{ "FORM.ORDER_BY" | translate }}</label>
        <select [(ngModel)]="selectedOrder" name="selectOrder" title="{{ 'FORM.ORDER_BY' | translate }}"  (ngModelChange)="filterItems()">
          <option value="none">{{ "FORM.NONE" | translate }}</option>
          <option value="dateAsc">{{ "FORM.DATE_ASC" | translate }}</option>
          <option value="dateDesc">{{ "FORM.DATE_DESC" | translate }}</option>
          <option value="titleAsc">{{ "FORM.TITLE_ASC" | translate }}</option>
          <option value="titleDesc">{{ "FORM.TITLE_DESC" | translate }}</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-4 d-flex justify-content-center" *ngIf="isLoading">
    <div class="spinner-border text-light" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="row mt-4" *ngIf="movies_series" >
      <app-movie-card class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2 " *ngFor="let result of filteredMovies_Series | movieSerieFilterPipe: searchFilter"
      [movie_serie]="result" [type]="result.type!"></app-movie-card>
  </div>
</div>
