<div class="container-fluid">
  <div class="row d-flex align-items-center justify-content-center my-2">
    <div class="col-12 col-md-4 col-lg-12 d-flex justify-content-center align-items-center mt-2 mt-md-0 flex-wrap">
      <div class="form-check form-check-inline d-flex gap-2 ps-1">
        <i class="bi bi-search align-self-center"></i>
        <input class="form-control" type="text" title="{{ 'FORM.FILTER_BY' | translate }}" placeholder="{{ 'FORM.FILTER_BY' | translate }}"
          [(ngModel)]="searchFilter">
      </div>
      <div class="form-check form-check-inline d-flex gap-2 ps-1">
        <i class="bi bi-filter"></i>
        <label class="form-check-label" for="selectWatched">{{ "FORM.WATCHED" | translate }}</label>
        <select [(ngModel)]="selectedWatched" name="selectWatched" title="{{ 'FORM.WATCHED' | translate }}" (ngModelChange)="filterItems()">
          <option value="all">{{ "FORM.ALL" | translate }}</option>
          <option value="true">{{ "FORM.WATCHED" | translate }}</option>
          <option value="false">{{ "FORM.NOT_WATCHED" | translate }}</option>
        </select>
      </div>
      <div class="form-check form-check-inline d-flex gap-2 ps-1">
        <i class="bi bi-list-stars"></i>
        <label class="form-check-label" for="selectType">{{ "FORM.CONTENT_TYPE" | translate }}</label>
        <select [(ngModel)]="selectedType" name="selectType" title="{{ 'FORM.CONTENT_TYPE' | translate }}" (ngModelChange)="filterItems()">
          <option value="all">{{ "FORM.ALL" | translate }}</option>
          <option value="movies">{{ "FORM.MOVIES" | translate }}</option>
          <option value="series">{{ "FORM.SERIES" | translate }}</option>
        </select>
      </div>
      <div class="form-check form-check-inline d-flex gap-2 ps-1">
        <i class="bi bi-sort-down"></i>
        <label class="form-check-label" for="selectOrder">{{ "FORM.ORDER_BY" | translate }}</label>
        <select [(ngModel)]="selectedOrder" name="selectOrder" title="{{ 'FORM.ORDER_BY' | translate }}"  (ngModelChange)="filterItems()">
          <option value="none">{{ "FORM.NONE" | translate }}</option>
          <option value="dateAsc">{{ "FORM.DATE_ASC" | translate }}</option>
          <option value="dateDesc">{{ "FORM.DATE_DESC" | translate }}</option>
          <option value="titleAsc">{{ "FORM.TITLE_ASC" | translate }}</option>
          <option value="titleDesc">{{ "FORM.TITLE_DESC" | translate }}</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row d-flex justify-content-center text-center gap-2" *ngIf="!isLoading && movies_series.length == 0">
    <i class="bi bi-search fs-1 mt-5 pt-5"></i>
    <span class="fs-2">{{ "FAVORITES.NO_RESULTS" | translate }}</span>
    <div class="d-flex gap-2 justify-content-center fs-2 mb-5 pb-5">
      <span>{{"FAVORITES.FIND_CONTENT" | translate}}</span>
      <a class="nav-link" [routerLink]="['/explore']" [routerLinkActive]="['active']">{{"FAVORITES.HERE" | translate}}!</a>
    </div>
  </div>

  <ng-container *ngIf="isLoading; else elseTemplate">
    <div class="row mt-4">
      <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2 " *ngFor="let result of utils.generateFake(20)">
        <ngx-skeleton-loader count="1" appearance="line" animation='progress-dark' [theme]="{'background-color': '#464646', height:'320px'}"></ngx-skeleton-loader>
      </div>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="row mt-4 d-flex justify-content-center" *ngIf="movies_series" >
        <app-movie-card class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2 " *ngFor="let result of filteredMovies_Series | movieSerieFilterPipe: searchFilter"
        [movie_serie]="result" [type]="result.type!"></app-movie-card>
    </div>
  </ng-template>
</div>
