<div class="container-fluid">
  <div class="row d-flex align-items-center justify-content-center my-2">
    <div class="col-12 col-md-4 col-lg-12 d-flex justify-content-center align-items-center mt-2 mt-md-0">
      <div class="form-check form-check-inline d-flex gap-2 ps-1">
        <i class="bi bi-search align-self-center"></i>
        <input class="form-control" type="text" placeholder="{{ 'FORM.FILTER_BY' | translate }}"
          [(ngModel)]="searchFilter">
      </div>
      <div class="form-check form-check-inline d-flex gap-2 ps-1">
        <i class="bi bi-filter"></i>
        <label class="form-check-label" for="selectWatched">{{ "FORM.WATCHED" | translate }}</label>
        <select [(ngModel)]="selectedWatched" name="selectWatched" title="selectWatched" (ngModelChange)="filterItems()">
          <option value="all">All</option>
          <option value="true">Watched</option>
          <option value="false">Not watched</option>
        </select>
      </div>
      <div class="form-check form-check-inline d-flex gap-2 ps-1">
        <i class="bi bi-list-stars"></i>
        <label class="form-check-label" for="selectType">{{ "FORM.TYPE" | translate }}</label>
        <select [(ngModel)]="selectedType" name="selectType" title="selectType" (ngModelChange)="filterItems()">
          <option value="all">All</option>
          <option value="movies">Movies</option>
          <option value="series">Series</option>
        </select>
      </div>
      <div class="form-check form-check-inline d-flex gap-2 ps-1">
        <i class="bi bi-sort-down"></i>
        <label class="form-check-label" for="selectOrder">{{ "FORM.ORDER" | translate }}</label>
        <select [(ngModel)]="selectedOrder" name="selectOrder" title="selectOrder"  (ngModelChange)="filterItems()">
          <option value="none">None</option>
          <option value="dateAsc">Date (Ascending)</option>
          <option value="dateDesc">Date (Descending)</option>
          <option value="titleAsc">Title (Ascending)</option>
          <option value="titleDesc">Title (Descending)</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-4 d-flex justify-content-center" *ngIf="isLoading">
    <div class="spinner-border text-light" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="row mt-4" *ngIf="movies_series" >
      <app-movie-card class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2 " *ngFor="let result of filteredMovies_Series | movieSerieFilterPipe: searchFilter"
      [movie_serie]="result" [type]="result.type!"></app-movie-card>
  </div>
</div>
