@import '../../../../../node_modules/bootstrap-icons/font/bootstrap-icons'; // Iconos

.bg-friend {
  background-color: rgba(0, 0, 0, 0.171);
}

img {
  border-radius: 50%;
  max-width: 80px;
  max-height: 80px;
}

a,.link-primary{
  color: rgb(173, 173, 255);
  text-shadow: 0px 0px 20px rgb(104, 104, 104);
  text-decoration: none;
}

a:hover,.link-primary:hover{
  color: rgb(255, 255, 255);
  text-decoration: underline;
  cursor: pointer;
}

.icon:hover{
  cursor: pointer;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
  color: white;
  cursor: pointer;
}
