<a [routerLink]="['/social/messages', friend.userId]">
  <div class="card bg-posts shadow bg-friend mt-2">
    <div class="card-body p-1">
      <div class="me-4">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center gap-3">
            <ng-container *ngIf="friend.friendImage; else elseTemplate">
              <img class="img-fluid" src="{{ friend.friendImage }}" alt="avatar">
            </ng-container>
            <ng-template #elseTemplate>
              <img class="img-fluid" src="../../../assets/default-avatar.png" alt="avatar">
            </ng-template>
            <span class="fs-3">{{ friend.friendNickname }}</span>
          </div>
          <span *ngIf="friend.newMessagesCount != 0">{{friend.newMessagesCount}} <i>{{friend.newMessagesCount! > 1 ? 'SOCIAL.NEW_MESSAGES' : 'SOCIAL.NEW_MESSAGE' | translate}}</i> </span>
          <i *ngIf="friend.newMessagesCount == 0" class="bi bi-chat-text-fill fs-2"></i>
        </div>
      </div>
    </div>
  </div>
</a>
